*{
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
.header{
    padding: 15px 15px;
}

.header form{
    display: flex;
    gap:20px;
}

.header form input{
    height: 50px;
    width: 100px;
    border: rgb(214, 214, 214) 1px solid;
}

.color-mode{
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 20px;
    color: #111827;
    padding: 10px 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('Icon.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 15px;
}
.header form button{
    width: 200px;
    font-family: inherit;
    background-color: transparent;
    font-size: 14px;
    color: #111827;
}

.header form button, input, select{
    border: #D1D5DB 1px solid;
    border-radius: 5px;
}

#main{
    margin-top: 20px;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.rectangle{
}

.rectangle p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;

}


.color-box{
    width: 100%;
    height: 50vh;
}



